body
{
    background-color: lightblue;
    font-family: sans-serif;
}
span
{
    display: flex;
    font-size: 2vmax;
    width: 8%;
    top: 10px;
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    border-radius: 2vmax;
    margin: 2vmax;
    text-align: center;
    padding: 2vmax;
}

.main-Div
{
    width: 70vmax;
    height: 50vmax;
    position: relative;
    border: 6px solid white;
    border-radius: 10px;
    margin: 10%;
    background-color: white;
}

.Jacket-div
{
    position: absolute;
    margin: 30px;
    width: 45%;
    border: 5px solid darkslategrey;
    border-radius: 10px;
}

.Jangsik-div
{
    position: absolute;
    margin: 30px;
    width: 45%;
    border: 5px solid darkslategrey;
    border-radius: 10px;
}

.Character
{
    position: absolute;
    margin: 30px;
    width: 45%;
    border: 5px solid darkslategrey;
    border-radius: 10px;
}

.Character-Jackets
{
    right: 0;
    margin-top: 10vmax;
    margin-right: 8vmax;
    width: 18vmax; height: 23vmax;
    position: absolute;
    border-radius: 10px;
    border: 5px solid darkslategrey;
}

.Character-Jangsik
{
    right: -10;
    margin-top: 10vmax;
    margin-right: 8vmax;
    width: 18vmax; height: 23vmax;
    position: absolute;
    border-radius: 10px;
    border: 5px solid darkslategrey;
}

.Jacket-Change
{
    position: absolute;
    right: 0; bottom: 0;
    margin-right: 13vmax; margin-bottom: 11vmax;
}
i { margin: 1vmin; }

.Jangsik-Change
{
    position: absolute;
    right: 10; bottom: 0;
    margin-right: 13vmax; margin-bottom: 11vmax;
}
i { margin: 1vmin; }

.Character-Hairs button
{
    float: right;
    border: 0.5vmin solid darkslategrey;
    width: 5vmax; height: 5vmax;
    border-radius: 35px;
    margin-top: 2vmax;
    margin-right: 0.6vmax;
}

.change-hair-short1
{
    background-color: white;
}
.change-hair-short2
{
    background-color: darkgray;
}
.change-hair-short3
{
    background-color: slategray;
}
.change-hair-long1
{
    background-color: gray;
}
.change-hair-long2
{
    background-color: dimgray;
}
.change-hair-long3
{
    background-color: black;
}

@media (max-width:1242px)
{
    .Jacket-Change{
        margin-right: 11vmax; margin-bottom: 8vmax;
    }
    .Jangsik-Change{
        margin-right: 15vmax; margin-bottom: 8vmax;
    }
}

.HowToPlay
{
    display: none;
    text-align: center;
    font-size: 2.5vw;
    padding-top: 3vmax;
    height:  10vmax;
    position: fixed;
    width: 100%;
    left: 0; bottom: 0;
    background-color: white;
}

.HowToPlay i
{
    float: right;
    top:0;
    font-size: 5vw;
    padding: 10px;
    bottom: 20px;
}